body {background: #4285f4;
color: #f1eff4}

h1 {font-size: 250%;
    font-weight: bold;
    text-align: center}

h2 {font-size: 175%;
    font-weight: normal;
    text-align: justify}

h3 {text-align: center}

h4 {text-align: center}

p {}